{{ form_start(product_form) }}

        {{ form_row(product_form.name, {
            label: 'Nom du produit:'
        }) }}

        {{ form_row(product_form.description, {
            label: 'Description:'
        }) }}

        {{ form_row(product_form.price, {
            label: 'Prix:'
        }) }}

<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>

{{ form_end(product_form) }}