{% extends "_admin_template.html.twig" %}

{% block title %}
    Supprimer le produit {{ product.name }}
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Supprimer le produit {{ product.name}}</h1>

        {{ form_start(deletion_form) }}

        {{ form_row(deletion_form.confirmation, {
            label: 'Je confirme la suppression du produit "' ~ product.name ~ '"'
        }) }}

        <button type="submit" class="button is-danger is-fullwidth">
            Supprimer
        </button>

        {{ form_end(deletion_form) }}

    </div>
{% endblock %}
